################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NottsBAAPI/bin/Debug/net10.0
/NottsBAAPI/obj
